---
Checks: "*,
  clang-diagnostic-*,
  -llvmlibc-*,
  -misc-*,
  -altera-*,
  "
WarningsAsErrors: "bugprone-*,cert-*"
# WarningsAsErrors: "bugprone-*,cert-*,clang-analyzer-*"
HeaderFilterRegex: ""
FormatStyle:     none
...

