# ===========================================================================
# PROJECT ENVIRONMENT SETUP: cxx.explore/.envrc
# ===========================================================================
# SHELL: bash (or similiar)
# SEE ALSO:   https://direnv.net/
# REPOSITORY: https://github.com/direnv/direnv
# USAGE:
#   source .envrc
#
#   # -- BETTER: Use direnv (requires: Setup in bash / HOME/.bashrc)
#   # eval "$(direnv hook bash)"
#   direnv allow .
# ===========================================================================
# direnv_version <version_at_least>

source_env_if_exists .envrc.use_venv

LLVM_HOME="/usr/local/opt/llvm"
export LLVM_BINDIR="${LLVM_HOME}/bin"

if ! has clang-tidy; then
    echo "USING: LLVM_HOME=${LLVM_HOME}"
    path_add PATH "${LLVM_BINDIR}"
fi
if has cmake; then
    echo "FOUND: cmake"
fi
if has 'clang-tidy'; then
    echo "FOUND: clang-tidy"
fi
